.form {
  display: none;
}

.error {
  display: none;
}

.display-block {
  display: block;
}

.row {
  height: 60px;
}

p {
  margin: 0;
}

@keyframes border-modal {
  10%,
  30%,
  50% {
    border-color: red;
  }
  60%,
  80%,
  100% {
    border-color: gray;
  }
}

input {
  border: 1px solid gray;
}

.error-input {
  border: 1px solid gray;
  animation: border-modal 0.6s;
}
